

#Update {
  display: none;
}

.recipeList {
  display: flex;
  width: 100%;
  flex-direction: row;
  border: 2px solid #f1f1f1;
  padding: 15px;
  border-radius: 3px;
  gap: 15px;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recipeList img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.recipeContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
